        <div class="box-left">        
    <h2>Panel</h2>
</div>
<div class="box-right-top">
    <h3>Ajouter une question</h3>
</div>

    <form class="question form-quiz" ng-model="question" name="post_question" ng-submit="sendQuestion()">
        <div class="bloc_input">
    		<p class="bold">Question :</p>
            <textarea label="question" ng-model="question" name="question" ></textarea>
        </div>
        <div>
            <p class="bold">Thème de la question :</p>
            <select ng-model="theme" required>
                <option value="" disabled>Sélectionnez un thème</option>
                <option ng-repeat="theme in themes" value="{{theme.id}}">{{theme.theme}}</option>
            </select>
            <!-- <select ng-options="theme for theme in themes" ng-model="theme">
                <option value="" disabled>Sélectionnez un thème</option>
            </select> -->

        </div>
        <!--rajouter ng-model, label pour Select-->
        <div class="bloc_input">
            <p class="bold">Choix 1 :</p>
            <p><i>Le choix 1 est la réponse valide à l'énoncé.</i></p>
            <input type="text" label="choix_1_valide" ng-model="choix_1_valide" name="choix_1_valide" required/>
        </div>
        <div class="bloc_input">
            <p class="bold">Choix 2 :</p>
            <input type="text" label="choix_2" ng-model="choix_2" name="choix_2" required/>
        </div>
        <div class="bloc_input">
    		<p class="bold">Choix 3:</p>
            <input type="text" label="choix_3" ng-model="choix_3" name="choix_3" required/>
        </div>
        <div class="bloc_input">
            <p class="bold">Choix 4 :</p>
            <input type="text" label="choix_4" ng-model="choix_4" name="choix_4" required/>
        </div>
        <div class="bloc_input">
            <p class="bold">Enoncé de solution :</p>
            <textarea label="enonce_solution" ng-model="enonce_solution" name="enonce_solution" required></textarea>
        </div>
       
        <div class="bouton-send">
   	       <input type="submit" class="btn btn-default" value="Envoyer"/>
        </div>
    </form>

<div class="box-right">
    <h3>Créer un nouveau thème :</h3>
</div>
    <form class="question form-quiz" ng-model="theme" name="post_theme">
            <p class="bold inline-block">Nom du thème : </p><input class="inline-block" type="text" label="theme" ng-model="theme.theme" name="theme"/>
           <button type="submit" class="btn btn-default" value="Envoyer" ng-click="sendTheme()">Envoyer</button>
    </form>

<!-- <div class="top-right">
</div> -->
<div class="box-right">
    <h3>Liste des questions</h3>
</div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="question in questions">
                <form class="form-inline form-quiz">
                    <div>
                        <div class="form-group ">
                            <h4>Enoncé de la question :</h4>
                            <textarea class="form-control" ng-model="question.question"></textarea>
                        </div>
                    </div>
                    <div>
                        <div class="form-group bloc_reponse">
                            <h4>Choix 1 <br/>(réponse à la question) :</h4>
                            <input type="text" class="form-control" ng-model="question.choix_1_valide">
                        </div>
                        <div class="form-group bloc_reponse">
                            <h4>Choix 2 :</h4>
                            <input type="text" class="form-control" ng-model="question.choix_2">
                        </div>
                        <div class="form-group bloc_reponse">
                            <h4>Choix 3 :</h4>
                            <input type="text" class="form-control" ng-model="question.choix_3">
                        </div>
                        <div class="form-group bloc_reponse">
                            <h4>Choix 4:</h4>
                            <input type="text" class="form-control" ng-model="question.choix_4">
                        </div>
                    </div>
                    <div class="form-group ">
                        <h4>Enoncé de la solution :</h4>
                            <textarea class="form-control"  ng-model="question.enonce_solution"></textarea>
                        <div class="pull-right bloc_update">
                            <button type="submit" class="btn btn-default" ng-click="update(question)">Mettre à jour</button>
                            <button type="submit" class="btn btn-danger" ng-click="delete(question)">Supprimer</button>
                        </div>
                    </div>
                </form>
            </li>
        </ul>
    