<h1> Inscription</h1>
    <form class= "inscription" ng-model="inscription" name="signin" ng-submit="send()">
            <div>
                Pseudo : <input type="text" label="nom" ng-model="pseudo" name="pseudo" required/> 
            </div>
            <div>
                Mail : <input type="email" label="mail" ng-model="email" name="email" required/>
            </div>
            <div>
                Mot de Passe :<input type="password" label="mot de passe" ng-model="password" name="password" required/>
            </div>
            <div>
                Nom : <input type="text" label="nom" ng-model="nom" name="nom" required/>
            </div>
            <div>
                Prénom : <input type="text" label="prénom" ng-model="prenom" name="prenom" required/>
            </div>
           <input type="submit" class="btn btn-default" value="Valider"/>
    </form>