<!-- Page accueil membre -->
<!-- Changer titre fichier + h1 -->
<h2>Accueil</h2><h3 class="titre-section">Question aléatoire :</h3>

<div class="bloc-question">
    <p class="question">
      {{question.question}}
    </p>
    <input type="text" ng-model="selectedChoice">
    <div class="bloc-choix-reponse" ng-repeat="choice in choices">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" value="{{choice}}" ng-model="selectedChoice">
            {{choice}}
          </label>
        </div>
    </div>
    <div class="bouton-question">
            <a href=""><button type="submit" class="btn btn-default" ng-click="send_res()">Valider</button></a>
    </div>
</div>

<!-- 
    Appliquer la fonction random à la propriété OrderBy amène une erreur de boucle infinie en plus de modifier l'ordre des choix de réponse à chaque clique sur ceux-ci.

    L'idée est d'appliquer la fonction random sur la variable Choices dans le controller afin d'éviter ces erreurs...
 -->