<!-- <ul class="list-group">
    <li class="list-group-item" ng-repeat="question in questions">
        <form class="form-inline form-quiz">
            <div>
                <div class="form-group ">
                    <h4>Enoncé de la question :</h4>
                    <textarea class="form-control" ng-model="question.question"></textarea>
                </div>
            </div>
            <div>
                <div class="form-group bloc_reponse">
                    <h4>Choix 1 <br/>(réponse à la question) :</h4>
                    <input type="text" class="form-control" ng-model="question.choix_1_valide">
                </div>
                <div class="form-group bloc_reponse">
                    <h4>Choix 2 :</h4>
                    <input type="text" class="form-control" ng-model="question.choix_2">
                </div>
                <div class="form-group bloc_reponse">
                    <h4>Choix 3 :</h4>
                    <input type="text" class="form-control" ng-model="question.choix_3">
                </div>
                <div class="form-group bloc_reponse">
                    <h4>Choix 4:</h4>
                    <input type="text" class="form-control" ng-model="question.choix_4">
                </div>
            </div>
            <div class="form-group ">
                <h4>Enoncé de la solution :</h4>
                    <textarea class="form-control"  ng-model="question.enonce_solution"></textarea>
                <div class="pull-right bloc_update">
                    <button type="submit" class="btn btn-default" ng-click="update(question)">Mettre à jour</button>
                    <button type="submit" class="btn btn-danger" ng-click="delete(question)">Supprimer</button>
                </div>
            </div>
        </form>
    </li>
</ul> -->