/*-----------------SOMMAIRE-----------------*\
/* GENERAL..................................*\
/* LOGIN....................................*\
/* PROFIL...................................*\
/*..........................................*\
/*..........................................*\
/*..........................................*\
/*------------------------------------------*\

/*-------- $GENERAL ----------*/
body{
   padding-top: 70px;
}
.navbar-border{
    border-bottom: 3px solid #F0DB4F;
}

.navbar-header img{
    transition: 0.4s;
}
.navbar-header img:hover{
    transform: rotate(360deg);
}  

.titre-section{
    margin-left: 30px;
}

.btn:hover{
    background-color: #C0CA3D;
}

.bold{
  font-weight: bold;
}

.bouton-send{
   width: 300px;
   margin: auto;
   text-align: center;
   margin-top: 20px;
}

/*----    $PAGE Login    -------*/
h1{
   text-align: center;
   font-size: 500%;
}

h2{
    margin: 50px;
}

.form_login{
   width: 300px;
   margin: auto;
   text-align: center;
   margin-top: 90px;
}

.password{
   margin-top: 20px;
}

/*-----    $PAGE profil   -----*/
.inscription{
    width: 300px;
    margin: auto;
    text-align: center;
}


/*-----    $PAGE Quiz   -------*/
.bloc-question{
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 90px;
}

.bloc-question p{
    font-weight: bold;
    font-size: 1.2em;
}

.question{
  margin-bottom: 20px;
}

.bouton-question{
    text-align: right;
}

.bloc-choix-reponse{
    width: 90%;
    margin: auto;
} 

.box_solution{
  border-width: 1px 1px 1px 5px;
  border-style: solid;
  border-color: black;
  border-left-color: #CE4844;
  border-radius: 15px 80px;
  padding: 20px 40px;
  margin-top: 20px;
}
.box_solution h3{
  margin-top: 0;
  color: #CE4844;
}

.box_solution .remember{
  margin-top: 25px;
}

.bouton_next{
  float: right;
  position: relative;
  bottom: 35px;
}

.glyphicon{
  margin-left: 5px;
}

/*------- PAGE ADMIN -----*/

.question{
  text-align: center;
}

.bloc_input{
  margin: 20px;
}

.bloc_input input{
  width: 300px;
}

textarea{
  width: 300px !important;
  height: 80px !important;
}

.bloc_reponse{
  width: 20%;
  vertical-align: bottom !important;
}


.bloc_update{
  margin: 20px;
}