/*-----------------SOMMAIRE-----------------*\
/* GENERAL..................................*\
/* LOGIN....................................*\
/* PROFIL...................................*\
/*..........................................*\
/*..........................................*\
/*..........................................*\
/*------------------------------------------*\

/*-------- $GENERAL ----------*/
body{
   padding-top: 70px;
}
.navbar-border{
    border-bottom: 3px solid #C0CA3D;
}

.navbar-header img{
    transition: 0.4s;
}
.navbar-header img:hover{
    transform: rotate(360deg);
}  

.titre-section{
    margin-left: 30px;
}

.btn:hover{
    background-color: #C0CA3D;
}

.bold{
  font-weight: bold;
}

.bouton-send{
   width: 300px;
   margin: auto;
   text-align: center;
   margin-top: 20px;
}

.user {
    color: white;
    line-height: 50px;
}
/*
.box-lf{
  position: relative;
  width: 150px;
}
*/
.box-left{
  position: relative;
  top: -17px;
  border-right: 5px solid #C0CA3D;
  border-bottom: 1px solid #C0CA3D;
  border-radius: 0 0 35px  0;
  width: 250px;
  padding-left: 50px;
  padding-top: 20px;

}

.box-right-top{
   position: relative;
   top: -17px;
   left: 20px;
   margin-bottom: 20px;
  border-left: 5px solid #C0CA3D;
  border-bottom: 1px solid #C0CA3D;
  border-radius: 0 0 0 35px;
}

.box-right{
   position: relative;
   top:-18px;
   left: 20px;
   margin-bottom: 20px;
  border-left: 5px solid #C0CA3D;
  border-bottom: 1px solid #C0CA3D;
  border-radius: 0 0 0 35px;
}

.top-right{
  height: 30px;
  width: 150px;
  position: relative;
  right: 15px;
  border-left: 5px solid #C0CA3D;
  border-bottom: 1px solid #C0CA3D;
  border-radius: 0 0 0 35px;
  width: 120px;

}

.form-quiz{
  margin-bottom: 20px;
}

/*----    $PAGE Login    -------*/
h1{
   text-align: center;
   font-size: 500%;
}

h2{
    margin: 30px;
    margin-bottom: 20px;
    margin-top:10px;
}

h3{
  margin: 30px;
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 10px;
}

.form_login{
   width: 300px;
   margin: auto;
   text-align: center;
   margin-top: 90px;
}

.password{
   margin-top: 20px;
}

.box-titre-centre{
  position: relative;
  top: -20px;
  text-align: center;
  width: 850px;
  margin: auto;
  padding-left: 150px;
  padding-top: 20px;
  padding-right: 15px;
     text-align: center;
  border-right: 5px solid #C0CA3D;
  border-bottom: 1px solid #C0CA3D;
  border-radius: 0 0 35px  0;
}

/*-----    $PAGE profil   -----*/
.inscription{
    width: 400px;
    margin: auto;
    text-align: center;
}

.inscription div{
  margin: 30px;
  text-align: left;
}

.inscription input{
  float: right;
}

.inscription input[type="submit"]{
  text-align: center;
  float: none;
}

.bloc-inscription{
 position: relative;
   /*left: 20px;*/
   margin-bottom: 10px;
   padding-left: 10px;
   padding-bottom: 5px;
   padding-top: 15px;
  border-left: 5px solid #C0CA3D;
  border-bottom: 1px solid #C0CA3D;
  border-radius: 0 0 0 20px;
}

.bloc-inscription input{
   text-align: right;
   padding-right: 5px;
}

.box-titre{
  display: inline-block;
  position: relative;
  top: -25px;
   left: 20px;
   padding: 20px 30px;
   padding-right: 100px;
  border-left: 8px solid #C0CA3D;
  border-bottom: 1px solid #C0CA3D;
  border-radius: 0 0 0 50px;
}

/*-----    $PAGE Quiz   -------*/
.bloc-select-question{
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 90px;

  border-width: 1px 5px 1px 5px;
  border-style: solid;
  border-color: #C0CA3D;
  border-left-color: #C0CA3D;
  border-radius: 80px 15px 15px 15px;
  padding: 20px 40px;
  text-align: center;
}

.bloc-question{
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 10px;

  border-width: 1px 5px 1px 5px;
  border-style: solid;
  border-color: #C0CA3D;
  border-right-color: #C0CA3D;
  border-radius: 15px 15px 80px 15px;
  padding: 20px 40px;
}

.inline-block{
  display: inline-block;
  margin-right: 10px;
}

/*.bloc-select-question p, .bloc-select-question select{
  display: inline-block;

}*/

.bloc-question p{
    font-weight: bold;
    font-size: 1.2em;
}

.question{
  margin-bottom: 20px;
}

.bouton-question{
    text-align: right;
}

.bloc-choix-reponse{
    width: 90%;
    margin: auto;
} 

.box_solution{
  border-width: 1px 1px 1px 5px;
  border-style: solid;
  border-color: #CE4844;
  border-left-color: #CE4844;
  border-radius: 15px 80px;
  padding: 20px 40px;
  margin-top: 20px;
}
.box_solution h3{
  margin-top: 0;
  color: #CE4844;
}

.box_solution .remember{
  margin-top: 25px;
}

.bouton_next{
  float: right;
  position: relative;
  bottom: 35px;
}

.glyphicon{
  margin-left: 5px;
}

/*------- PAGE ADMIN -----*/

.question{
  text-align: center;
}

.bloc_input{
  margin: 20px;
}

.bloc_input input{
  width: 300px;
}

textarea{
  width: 300px !important;
  height: 80px !important;
}

.bloc_reponse{
  width: 20%;
  vertical-align: bottom !important;
}


.bloc_update{
  margin: 20px;
}